<!-- sidebar: style can be found in sidebar.less -->
<section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
        <div class="pull-left image">
            <img src="/content/images/avatar3.png" class="img-circle" alt="User Image" />
        </div>
        <div class="pull-left info">
            <p>Hello, Romi</p>

            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
    </div>
    <!-- search form -->
    @using (Html.BeginForm("Index", "Search", FormMethod.Post, new { @class = "sidebar-form" }))
    { 
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search..." />
            <span class="input-group-btn">
                <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
            </span>
        </div>
    }
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
        <li class="active">
            <a href="#">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            </a>
        </li>
        <li class="treeview">
            <a href="@Url.Action("Index", "Search")">
                <i class="fa fa-search"></i>
                <span>Search</span>
            </a>
        </li>
        <li class="treeview">
            <a href="#"><i class="fa fa-tasks"></i> Tasks<i class="fa pull-right fa-angle-left"></i></a>
            <ul class="treeview-menu">
                <li>
                    <a href="#"><i class="fa fa-angle-double-right" style="margin-left:10px;"></i>R201</a>
                </li>
                <li>
                    <a href="@Url.Action("Index", "Search", new { origin = "r204" })"><i class="fa fa-angle-double-right" style="margin-left:10px;"></i>R204</a>
                </li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#"><i class="fa fa-bar-chart-o"></i> Reports<i class="fa pull-right fa-angle-left"></i></a>
            <ul class="treeview-menu">
                <li>
                    <a href="#"><i class="fa fa-angle-double-right" style="margin-left:10px;"></i>District</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-angle-double-right" style="margin-left:10px;"></i>Local</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-angle-double-right" style="margin-left:10px;"></i>Adhoc</a>
                </li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#"><i class="fa fa-paperclip"></i> Secretarial<i class="fa pull-right fa-angle-left"></i></a>
            <ul class="treeview-menu">
                <li>
                    <a href="#"><i class="fa fa-angle-double-right" style="margin-left:10px;"></i>Suguan</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-angle-double-right" style="margin-left:10px;"></i>Meeting Attendance</a>
                </li>
                <li>
                    <a href="#"><i class="fa fa-angle-double-right" style="margin-left:10px;"></i>Panata Attendance</a>
                </li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-child"></i>
                <span>HDB</span>
            </a>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-money"></i>
                <span>Finance</span>
            </a>
        </li>
        <li class="treeview">
            <a href="#">
                <i class="fa fa-cloud"></i>
                <span>Los</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-calendar"></i> <span>Calendar</span>
                <small class="badge pull-right bg-red">3</small>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-envelope"></i> <span>Mailbox</span>
                <small class="badge pull-right bg-yellow">12</small>
            </a>
        </li>
    </ul>
</section>
<!-- /.sidebar -->